<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lcomputerstudy.example.mapper.BoardMapper">

	<select id="selectBoardList" resultMap="BoardMap">
		SELECT 		@ROWNUM := @ROWNUM - 1 AS ROWNUM, 
					ta.*,
					tc.u_id,
				    tc.u_name
		FROM 		boardlist ta
		LEFT join 	userlist tc 
		ON 			ta.u_id = tc.u_id,
					(SELECT @ROWNUM := (SELECT	COUNT(*)-#{pageNum}+1 FROM boardlist ta)) tb
<!-- 		ORDER BY 	b_group desc, b_order asc -->
		LIMIT		#{pageNum}, 5
   </select>
   
      <resultMap type="User" id="UserMap">
   		<result column = "u_id" property="username"/>
   		<result column = "u_name" property="name"/>
   	  </resultMap>
   	  
      <resultMap type="Board" id="BoardMap">
   		<result column = "b_id" property="bId"/>
   		<result column = "b_title" property="bTitle"/>
   		<result column = "b_content" property="bContent"/>
   		<result column = "b_datetime" property="bDateTime"/>
   		<result column = "b_group" property="bGroup"/>
<!--    		<result column = "b_count" property="b_count"/> -->
   		<result column = "b_order" property="bOrder"/>
   		<result column = "b_depth" property="bDepth"/>
   		<result column = "u_id" property="username"/>
   		<association property="user" resultMap="UserMap"/>
   	  </resultMap> 
   
   
<!-- 	<select id="selectBoardList" resultType="Board">
		SELECT			b_id as bId,
						b_title as bTitle,
						b_content as bContent,
						u_id as username,
						b_datetime as bDateTime
		FROM			boardlist
	</select> -->
	
	<select id="selectBoardDetail" resultType="Board" parameterType="int">
		SELECT					b_id as bId,
								b_title as bTitle,
								b_content as bContent,
								u_id as username,
								b_datetime as bDateTime 
		FROM				boardlist
		WHERE			b_id = #{bId}
	</select>
	<select id="deleteBoard" resultType="Board" parameterType="int">
		DELETE			
		FROM				boardlist
		WHERE			b_id = #{bId}
	</select>
	
	<insert id="writeBoard" parameterType="Board">
		INSERT INTO boardlist (
			b_title,
			b_content,
			u_id,
			b_group,
     		b_order,
     		b_depth
		) VALUES (
			#{bTitle},
			#{bContent},
			#{username},
			#{bGroup},
			#{bOrder},
			#{bDepth}
		)
	</insert>
	
	 <update id="modifyBoard" parameterType="Board">
        update boardlist 
        set  b_title = #{bTitle},
            b_content = #{bContent}
       where b_id = #{bId}
    </update>
    
    
    <select id="getBoards" resultType="int">
	 	Select 	COUNT(*) count 
	 	FROM boardlist
    </select>
	
</mapper>